


  <div class="jumbotron">
  	<h1>Search Movie</h1>
  	<div class="page1">
  	 <span>Enter a key word</span> 


  <form accept-charset="UTF-8" action="/result" method="post">
    <label for="movie">Search for:</label>
    <input id="movie" name="movie" type="text" />
    <input name="commit" type="submit" class="btn btn-danger btn-lg" value="Search" /> 
     </span>
</div>