

<div class="page1">
    <div class="jumbotron">
     	<div class="contain">
        <div class="jumbotron first">
     	    <div id="image">
             <span id="findMovie"><h1>Find a Movie</h1></span>
  	         <form accept-charset="UTF-8" action="/result" method="post">
  	         <span id="index"><h3>Enter a key word</h3></span>
             <input id="movie" name="movie" type="text" />
             <input name="commit" type="submit" class="btn btn-danger btn-md" value="Search" /> 
          </div>
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ3JvH9AWgBLDySY5XAikpbEznVBsJZNgBxqovCA68rgd23L28o" id="dessin">
      </div>
    </div>
  </div>
</div>