
  <div class="page1">
     <div class="jumbotron">
  	     <span id="findMovie"><h1>Find a Movie</h1></span>
         <form accept-charset="UTF-8" action="/result" method="post">
  	     <span id="index"><h3>Enter a key word</h3></span>
         <input id="movie" name="movie" type="text" />
         <input name="commit" type="submit" class="btn btn-danger btn-md" value="Search" /> 
    </div>
  </div>



