

  <div class="jumbotron">
  	<h1>Sorry, no result found</h1>
  	<div class="page1">
  	
   <form accept-charset="UTF-8" action="/result" method="post">
    <label for="movie">New Search</label>
    <input id="movie" name="movie" type="text" />
    <input name="commit" type="submit" class="btn btn-danger btn-lg" value="Search" /> 
     </span>
</div>