
body{
   margin:0;
   padding:0;
   height:100%;
   background-color: white;
}

#index{
position: relative;
left: -2em;
}

h1 {
	text-align: center;
  text-shadow:0px -1px 0px #000000;
}
.jumbotron{
  color: white;
  background:-webkit-gradient(linear, 99% 0%, 19% 13%, from(#0F0418), to(#4F4228));
  margin:0;
  text-decoration: center;
  padding:60px 0px 0px 60px;

}
.jumbotron .first {


}
form {
	height: 600px;
}

ul{
	list-style-type: none;
}

.page1 {
	
	margin-right: 0 auto;
	margin-bottom: 40px;
	text-align: center;
	height: 800px;
	background-repeat: no-repeat;

 
}

#image {

	float:left;
	margin-bottom: 10px;


}
#dessin{
	height: 150px;
	width: 150px;
transform: rotate(23deg) ;
-webkit-transform: rotate(23deg) ;
-moz-transform: rotate(23deg) ;
-o-transform: rotate(23deg) ;
-ms-transform: rotate(23deg) ;


}


 .result {
	 margin: 20px;
	 padding: 5px;
	
	}

.row .result{
	margin-top: 20px;
}


header {
color: white;
background:-webkit-gradient(linear, 99% 0%, 19% 13%, from(#0F0418), to(#4F4228));
height: 200px;
text-align: center;
padding: 30px;

}



#titlePosterPage {
	text-align: center;
	font-size: 4em;
}


footer {
   background:-webkit-gradient(linear, 99% 0%, 19% 13%, from(#0F0418), to(#4F4228));
	text-align: center;
	color: white;
	clear:both;

}


#findMovie{
	position: relative;
	margin-left: 5px;
}

.poster {
	margin-right: 5px;
	margin-left: 20px;
	


}

.container {
        margin-top: 20px;
        margin-bottom: 20px;
}
	







#wrap {
	margin-bottom: 20px
}

#container1 {
   min-height:100%;
   position:relative;
}

#body {
    /* Height of the footer */
}
.container{
	background-color: #d4d4d4;
	margin-bottom: 30px;
	border: 10px solid black;
	padding-top: 35px;
	font-size: 20px;
}

#footer {
   bottom:0;
   width:100%;
   height:60px;   /* Height of the footer */
   clear:both;
   position: relative;
   bottom: -30px;
  
}
#link{
	margin-right: 0;
	text-align: center;
  padding-top: 5px  ;
	padding-bottom: 3px;
	padding-right: 0;
 
}
.details{
	padding-top: 20px;
	padding-bottom: 20px;
	
}
img{
	padding-top: 20px;
	padding-bottom: 20px;
	margin-bottom: 20px;
}
a{
	text-decoration: underline;
}
